body {
  margin:auto;
  padding: 0;
  font-family: sans-serif;
  width:960px;
}

.nav{
	background-color: rgb(143,68,105);
  height:110px;
}

.topped {
	float: right;
}
.dogitems {
	margin: auto;
}
.scary {
  height: 400px;
  width: 400px;
}
.nav h1{
  font-family: coralines-cat;
}
.nav a {
	text-decoration:none;
	color:white;
	padding:20px;
}

#pumpkin{
  width: 960px;
}
